---
layout: post
title: "&quot;The New Normal&quot;: New York To Lower Math And English Proficiency Standards Due To Poor Test Result"
audio: new-normal-new-york-lower-math-and-english-proficiency-standards-due-poor-test-result-0
category: political
desc: "...public educators and unions are methodically killing public education..."
duration: 00:02:37
length: 157
datetime: Sun, 19 Mar 2023 17:30:00 +0000
tags: podcast
guid: new-normal-new-york-lower-math-and-english-proficiency-standards-due-poor-test-result-0
order: 0
---
...public educators and unions are methodically killing public education...

Link: [https://www.zerohedge.com/political/new-normal-new-york-lower-math-and-english-proficiency-standards-due-poor-test-result](https://www.zerohedge.com/political/new-normal-new-york-lower-math-and-english-proficiency-standards-due-poor-test-result)

About: The Zerohedge Podcast is a non-commercial, automated program, designed to give people a way to get news from Zerohedge in an audio format.  I am actively working on tweaking and improving the setup to create a better listening experience (February 2023).  Suggestions are welcome: [zerohedgePodcast@outlook.com](mailto:zerohedgePodcast@outlook.com)