---
layout: post
title: "White House Refuses To Pay For Twitter Verification"
audio: white-house-refuses-pay-twitter-verification-0
category: political
desc: "Elon crestfallen, we're sure..."
duration: 00:02:31
length: 151
datetime: Sun, 02 Apr 2023 00:00:00 +0000
tags: podcast
guid: white-house-refuses-pay-twitter-verification-0
order: 0
---
Elon crestfallen, we're sure...

Link: [https://www.zerohedge.com/political/white-house-refuses-pay-twitter-verification](https://www.zerohedge.com/political/white-house-refuses-pay-twitter-verification)

About: The Zerohedge Podcast is a non-commercial, automated program, designed to give people a way to get news from Zerohedge in an audio format.  I am actively working on tweaking and improving the setup to create a better listening experience (February 2023).  Suggestions are welcome: [zerohedgePodcast@outlook.com](mailto:zerohedgePodcast@outlook.com)